<% include ../header %>
<header>
  <h1>Ntalk</h1>
  <h4>Contacts List</h4>
</header>
<section>
  <p>Welcome <%- user.name %></p>
  <form action="contact" method="post">
    <input type="text" name="contact[name]" placeholder="Name" />
    <input type="text" name="contact[email]" placeholder="Email" />
    <button type="submit">Save</button>
  </form>
  <table>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% contacts.forEach(function(contact, index) { %>
        <tr>
          <td><%- contact.name %></td>
          <td><%- contact.email %></td>
          <td>
            <a href="/contact/<%- index %>">Details</a>
            <a href="/chat" id="chat_<%- contact.email%>">Chat</a>
          </td>
        </tr>
      <% })  %>
    </tbody>
  </table>
</section>
<% include notify_script %>
<% include ../exit %>
<% include ../footer %>
