<% include ../header %>
<header>
  <h1>Ntalk</h1>
  <h4>Contacts List</h4>
</header>
<section>
  <p>Welcome <%- user.name %></p>
  <form action="contact" method="post">
    <input type="text" name="contact[name]" placeholder="Name" />
    <input type="text" name="contact[email]" placeholder="Email" />
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <br />
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <% contacts.forEach(function(contact, index) { %>
        <tr>
          <td><%- contact.name %></td>
          <td><%- contact.email %></td>
          <td><span id="notify_<%- contact.email %>">Offline</span></td>
          <td>
            <div class="btn-group">
              <a href="/contact/<%- index %>" class="btn btn-primary">Details</a>
              <a href="/chat" id="chat_<%- contact.email%>" class="btn btn-primary">Chat</a>
            </div>
          </td>
        </tr>
      <% })  %>
    </tbody>
  </table>
</section>
<% include notify_script %>
<% include ../exit %>
<% include ../footer %>
